<div class="updatePost">
    <h2>Modifier la publication</h2>
    <button aria-label="Annuler la création"><mat-icon (click)="closeTab()">cancel</mat-icon></button>
</div>

<form [formGroup]="modifyForm" id="form">
    <div>
        <label class="updateContent" for="content">
            <textarea
                type="text"
                class="form-control"
                id="content"
                placeholder="Message"
                formControlName="content"
                maxlength="70">
            </textarea>
        </label>

        <div class="updatePicture">
            <img
                *ngIf="urlFile != ''"
                class="updatePicture__img"
                [src]="urlFile"
                alt="photo du post"
            />
            <mat-icon *ngIf="urlFile != ''" (click)="removeFile(0)" class="updatePicture__cross"
                >cancel</mat-icon
            >
        </div>
    </div>
    <div class="updateBtn">
        <label *ngIf="urlFile === ''" for="file" class="modifyfile" id="label"
            >choisir une image</label
        >
        <input
            appClickStopPropagation
            #fileinputModif
            type="file"
            class="d-none"
            id="file"
            formControlName="file"
            (change)="addFile($event)"
        />
    </div>
    <button [disabled]="modifyForm.invalid" (click)="modifyPost()" class="modifybtn" type="submit">
        Modifier
    </button>
</form>
