<div *ngIf="loading" class="spinner">
  <span class="loader loader-quart"></span>
</div>

<ng-container *ngIf="content$ | async as content">
  <p class="mt-30 p-15" *ngIf="!loading && content.length <= 0">Aucun contenu dans cette rubrique...</p>
    <section class="publications--list">
        <article *ngFor="let post of content, let index = index" class="post__list">
          <!-- Header Publication : photo de profil, nom, date, et delete -->
          <header>
            <div>
              <a *ngIf ="post.posterId"  routerLink="/profil/{{post.posterId}}">
                 <img
                  [src]="post.posterId.image"
                  alt="Photo de profil de {{post.posterId.pseudo}}">
              </a>
            </div>
            <div class="text">
              <p class="name">
               <a routerLink="/profil/{{post.posterId}}">{{post.posterId.pseudo}}</a>
              </p>
              <p class="date">
                Publié le {{ post.createdAt | date: "dd/MM/y à HH:mm" : "UTC+2"}}
              </p>
            </div>
            <div *ngIf="user?.userId === post.posterId || user?.moderateur === true" class="menu">
              <button class="menu__button" [mat-menu-trigger-for]="menu" aria-label="button menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
                <button class="button-option" mat-menu-item (click)="modifyPost(post)">
                  <mat-icon>edit</mat-icon>
                  <span>modifier</span>
                </button>
                <button class="deletePost" mat-menu-item (click)="onDeletePublication(post, index)">
                  <mat-icon>delete</mat-icon>
                  <span>supprimer</span>
                </button>
              </mat-menu>
            </div>
          </header>
          <hr>
          <!-- Main Publication : Photo et/ou contenu -->
          <main>
            <div *ngIf="post.content !== null" class="content">
              <p>{{post.content}}</p>
            </div>
            <div *ngIf="post.picture !== null" class="picture">
              <img [src]="post.picture" alt="">
            </div>
          </main>
          <!-- Footer Publication : likes et commentaires -->
          <footer>
              <div class="likes">
                <form (submit)="onlike($event)">
                  <input type="hidden" name="postId" [value]="post.postId">
                  <input type="hidden" name="rate" [value]="post.likes.currentUserReaction === 1 ? 0 : 1">
                  <button type="submit" [ngClass]="post.likes.currentUserReaction === 1 ? 'alreadyLiked' : ''" aria-label="like la publication">
                    <i class="fas fa-thumbs-up"></i>
                    {{post.likes.LikesNumber}}
                  </button>
                </form>
                <form (submit)="onlike($event)">
                  <input type="hidden" name="postId" [value]="post.postId">
                  <input type="hidden" name="rate" [value]="post.likes.currentUserReaction === -1 ? 0 : -1">
                  <button type="submit" [ngClass]="post.likes.currentUserReaction === -1 ? 'alreadyDisliked' : ''" aria-label="dislike la publication">
                    <i class="fas fa-thumbs-down"></i>
                    {{post.likes.DislikesNumber}}
                  </button>
                </form>
              </div>
          </footer>
        </article>
      </section>
</ng-container>
