<div *ngIf="loading" class="spinner">
  <span class="loader loader-quart"></span>
</div>

<ng-container *ngIf="content$ | async as content">
  <p class="noContent" *ngIf="!loading && content.length <= 0">Il n'y a actuellement aucun post...</p>
    <section class="publications--list">
        <article *ngFor="let post of content, let index = index" class="post__list">
          <!-- Header Publication : photo de profil, nom, date, et delete -->
          <header>
            <div>
              <a *ngIf ="post.posterId"  routerLink="/profil/{{post.posterId}}">
                 <img
                  [src]="post.posterId.image"
                  alt="Photo de profil de {{post.posterId.pseudo}}">
              </a>
            </div>
            <div class="text">
              <p class="name">
               <a routerLink="/profil/{{post.posterId}}">{{post.posterId.pseudo}}</a>
              </p>
              <p class="date">
                Publié le {{ post.createdAt | date: "dd/MM/y à HH:mm" : "UTC+2"}}
              </p>
            </div>
            <div *ngIf="user?._id === post.posterId._id || user?.moderateur === true" class="menu">
              <button class="menu__button" [matMenuTriggerFor]="menu" aria-label="button menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button class="button-option" mat-menu-item (click)="modifyPost(post)">
                  <mat-icon>edit</mat-icon>
                  <span>modifier</span>
                </button>
                <button class="deletePost" mat-menu-item (click)="onDeletePublication(post, index)">
                  <mat-icon>delete</mat-icon>
                  <span>supprimer</span>
                </button>
              </mat-menu>
            </div>
          </header>
          <hr>
          <!-- Main Publication : Photo et/ou contenu -->
          <main>
            <div *ngIf="post.content !== null" class="content">
              <p>{{post.content}}</p>
            </div>
            <div *ngIf="post.picture !== null" class="picture">
              <img [src]="post.picture" alt="">
            </div>
          </main>
          <!-- Footer Publication : likes et commentaires -->
          <footer>
            <div class="like-buttons">
              <div class="likes" id="like" (click)="onLike(post, index)">
                <i [ngClass]="{ 'fas liked': post.isLiked == 1, 'far': post.isLiked == 0, 'disabled': post.isDisliked == 1 }" class="like fa-thumbs-up fa-lg"></i>
                <span>{{ post.likes }}</span>
              </div>
              <div class="likes" id="dislike" (click)="onDislike(post, index)">
                <i [ngClass]="{ 'fas disliked': post.isDisliked == 1, 'far': post.isDisliked == 0, 'disabled': post.isLiked == 1 }" class="dislike fa-thumbs-down fa-lg"></i>
                <span>{{ post.dislikes }}</span>
              </div>
            </div>
            <div class="comments">
              <h3>Commentaires</h3>
              <div *ngFor="let comments of post.comments, let index = index" class="comments--list">
                <div>
                  <img
                    [src]="comments.commenterImage"
                    alt="Photo de profil de {{comments.commenterPseudo}}">
                </div>
                <div class="comments--list--text">
                  <p class="text">
                    <span>{{comments.commenterPseudo}}</span>
                  </p>
                  <p>{{comments.text}}</p>
                </div>
                <form class="comments--list--delete" *ngIf="comments.commenterId === user?._id || user?.moderateur === true" (submit)="onDeleteComment(post, comments, index)">
                  <button type="submit" aria-label="Supprimer le commentaire"><i class="fas fa-trash"></i></button>
                </form>
              </div>
              <form [formGroup]="commentsForm" class="comments-add" (submit)="onAddComment(post, index)">
                <label for="add-comments" class="hidden">votre commentaire</label>
                <input formControlName="text" id="add-comments" type="text" placeholder="Votre commentaire">
                <button type="submit" aria-label="Envoyer"><i class="fas fa-plus-circle"></i></button>
              </form>
            </div>
          </footer>
        </article>
      </section>
</ng-container>
