@import "../../../variable.scss";

.hidden {
  display: none;
}
.publications {
  &--list {
    article {
      background: $color-cards-background;
      box-shadow: $shadow;
      border-radius: 10px;
      overflow: hidden;
      margin: 2em auto;
      width: 800px;
      header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        img {
          width: 80px;
          margin-right: 20px;
          border-radius: 50%;
          object-fit: cover;
          height: 80px;
        }
        .text {
          flex-grow: 2;
        }
        .name {
          font-weight: bold;
          color: $color-primary;
        }
        .date {
          font-style: italic;
        }
        .delete-post {
          button {
            padding: 0.5em 0.7em;
            border: 1px solid $color-danger;
            border-radius: 10px;
            background: $color-primary-lighter;
            cursor: pointer;
            &:hover {
              background: $color-primary-light;
            }
          }
          .deleteButton {
            font-size: 1.2em;
            width: 20px;
            color: $color-danger;
          }
        }
      }
      main {
        img {
          max-height: 450px; 
          border-radius: 5%;
          max-width: 90%;
        }
        .content {
          padding: 1em 2em;
        }
      }
    }
    
  }
}
.menu {
  position: relative;
  &--button {
    border-radius: 50%;
            padding: 5px;
            border: none;
            display: flex;
            align-items: center;

            mat-icon {
                margin-left: 0;
            }
            &:hover {
                border-radius: 50%;
                background-color: #e5e5e5;
            }
  }
}
.button-option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
footer {
  .like-buttons {
    margin-bottom: 2%;
    .likes {
      display: flex;
      justify-content: center;
      width: 50%;
      padding: 0.5em;
      background: $color-back-background;
      cursor: pointer;
      &:hover {
        background: $color-primary-light;
      }
    }
    .dislike {
      margin-right: 1%;
    }
    #like {
      border-radius: 9px 0px 0px 9px;
      border-right: 1px solid $color-primary;
      margin-right: 0px;
      &:hover{
        background-color: $color-like;
      }
    }
    #dislike{
      border-radius: 0px 9px 9px 0px;
      margin-left: 0px;
      &:hover{
        background-color: $color-primary;
      }
    }
    button {
      padding: 0.5em;
      width: 100%;
      background: $color-primary-lighter;
      border: none;
      border-top: 1px solid $color-primary;
      border-bottom: 1px solid $color-primary;
      cursor: pointer;
      &:hover {
        background: $color-primary-light;
      }
      
      .fas {
        font-size: 1.2em;
      }
    }
  }
}

::ng-deep.cdk-overlay-container {
z-index: 1000;
}

::ng-deep.cdk-global-overlay-wrapper{
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

::ng-deep.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing{
  opacity: 0;
  visibility: visible;
}

::ng-deep.cdk-overlay-transparent-backdrop{
  transition: visibility 1ms linear,opacity 1ms linear;
}

 ::ng-deep.cdk-overlay-connected-position-bounding-box{
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
::ng-deep.cdk-overlay-pane{
  position: static;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.like-buttons {
  display: flex;
  i {
    margin-right: 0.5em;
    cursor: pointer;
  }
}

.likes, .dislikes {
  margin: 0 0.4em;
}

.liked {
  color: rgba(51, 219, 0, 1);
}

.disliked {
  color: rgba(219, 51, 0, 1);
}

.like {
  &:hover {
    color: rgba(51, 219, 0, 1);
  }
}

.dislike {
  &:hover {
    color: rgba(219, 51, 0, 1);
  }
}

.disabled {
  cursor: none;
  &:hover {
    color: rgba(190, 190, 190, 1);
  }
  color: rgba(190, 190, 190, 1);
}

@media all and (max-width: 900px) {
  article {
    max-width: 90%;
  }
}