@import "../../../variable.scss";

.main-wrapper {
  width: 600px;
  background-color: $color-cards-background;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.profil-poster__image {
  img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
  }
}

.post-poster__texte {
  margin-left: 20px;
  font-size: 16px;
  width: 100%;
  background-color: $color-back-background;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
      background-color: $background-shadow;
  }
}

.post-poster__message{
  margin-left: 30px;
  padding: 5px;
}

@media all and (max-width: 900px) {
  .main-wrapper {
    max-width: 90%;
  }
}