<main class="main-wrapper">
    <section class="profil">
        <h1>{{User.pseudo}}</h1>
        <hr>
        <div class="profilTop">
            <div class="profilImage">
                <h2>Photo de profil</h2>
                <img [src]="User.image" alt="Photo de profil de {{User.pseudo}}">
                <form *ngIf="authService.IsAuthenticated()">
                    <label for="picture" class="profilbtn profillabel-file" aria-label="Changer sa photo de profil">Changer ma photo de profil</label>
                    <input type="file" accept="image/*" id="picture" class="input-file" (change)="onselectFile($event)">
                    <button type="submit" class="profilbtn save" (click)="saveProfil()" >Enregistrer</button>
                </form>
            </div>
            <div class="profilDescription">
                <h2>Email</h2>
                <p class="profil--email">{{User.email}}</p>
                <h2 class="description">profil description</h2>
                <p>{{User.bio === null ? 'Pas de description' : User.bio}}</p>
                 <form [formGroup]="descriptionForm" (submit)="onUpdatedescription()" *ngIf="authService.IsAuthenticated()">
                    <label for="update-description" class="hidden">Description</label>
                    <textarea id="update-description" formControlName="bio" name="bio" placeholder="Votre nouvelle bio"></textarea>
                    <button type="submit" class="profilbtn description-btn">
                      Changer ma description
                    </button>
                  </form>
            </div>
        </div>
        <hr *ngIf="authService.IsAuthenticated()">
        <div class="profileBottom" *ngIf="authService.IsAuthenticated()">
          <div>
            <!--  ################### SUPPRESSION COMPTE ################### -->
           <h2>Supprimer mon compte</h2>
            <button class="profilbtn btn-danger" (click)="onDeleteClicked()">Supprimer</button>
            <div id="delete-confirm" class="profile-delete-confirm profile-delete-confirm__hidden">
              <p>Êtes-vous vraiment sûr?<br>(impossible de revenir en arrière)</p>
              <button class="profilbtn btn-danger" (click)="onDeleteConfirmed()">Oui, supprimer</button>
            </div>
          </div>
        </div>
    </section>
</main>
