<main class="main-wrapper">
    <section class="profil">
        <h1>{{User.pseudo}}</h1>
        <hr>
        <div class="profil--top">
            <div class="profil--image">
                <h2>Photo de profil</h2>
                <img src="../../../assets/default_profile.png" alt="Photo de profil de l'utilisateur">
            </div>
            <div class="profil--description">
                <h2>Email</h2>
                <p class="profil--email">{{User.email}}</p>
                <h2 class="description">profil description</h2>
            </div>
        </div>
    </section>
</main>
