@import "../../../variable.scss";

.hidden {
  display: none;
}
.profilTop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  &>div {
    margin: 1em;
  }
}
.profilImage {
  img {
    width: 100%;
    max-width: 350px;
    border: 1px solid $color-primary;
    border-radius: 5% 5% 0% 0%;
  }
}
.profilDescription {
  width: 100%;
  max-width: 350px;
  form {
    margin-top: 2em;
    border: 1px solid $color-primary;
    border-radius: 10px;
    overflow: hidden;
  }
  textarea {
    width: 100%;
    height: 7em;
    resize: none;
    border: none;
    padding: 1em;
    outline: 0;
  }
  .description-btn {
    width: 100%;
    margin-top: 0;
    border: none;
    border-radius: 0;
  }
}
.profilbtn {
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 0.7em 1.5em;
  background: $color-primary-lighter;
  border: 1px solid $color-primary;
  border-radius: 5px;
  font-weight: bold;
  color: $color-text;
  &:hover {
    background: $color-primary-light;
  }
  &:disabled {
    color: #555;
  }
}
.profile {
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: $shadow;
    background: $color-cards-background;
    }
    .profillabel-file {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: none;
      display: flex;
      justify-content: center;
    }
    .input-file {
      display: none;
    }
    h1 {
      margin-bottom: 1rem;
    }
    h2 {
      margin-bottom: 1rem;
    }
    .description {
      margin-top: 1em;
    }
    .save {
      width: 100%;
      border-radius: 0px 0px 5px 5px;
      margin-top: -4px;
      font-size: 14px;
    }

    .profileBottom {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      &>div {
        margin: 1em;
        max-width: 350px;
      }
    }
    .passwordInput {
      width: 100%;
      border: none;
      border-bottom: 1px solid $color-primary;
      margin-bottom: 1em;
      background-color: $color-primary-light;
      &:focus {
        border: none;
        border-bottom: 3px solid $color-primary;
      }
      &:invalid {
        border-bottom: 3px solid $color-danger;
      }
    }
    .profile-delete-confirm {
      padding-top: 1em;
      text-align: center;
      &__hidden {
        display: none;
      }
    }
    .btn-danger {
      &:hover {
        background: $color-danger-light;
        color: $color-danger;
      }
    }