<div class="main">
    <h2 class="title">Créer une publication</h2>

    <button aria-label="Annuler"><svg (click)="closeTab()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>cancel</svg></button>
</div>

   <form [formGroup]="postForm" id="form">
            <div>
                <div class="form-group">
                    <label for="text"></label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Ajouter votre texte" formControlName="content"
                    maxlength="1000"></textarea>
                </div>
                <div *ngIf="url" class="image-wrapper">
                    <img class="image-wrapper-img" [src]="url">
                    <svg (click)="removeFile()" class="image-wrapper-cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>cancel</svg>
                </div>
            </div>
            <div class="postform">
                <label *ngIf="url === ''" for="file" class="label-file" id="label">Choisir une image</label>
                <input appChangeStopPropagation
                #fileinput
                type="file"
                class="d-none"
                id="file"
                formControlName="file"
                (change)="addFile($event)">
            </div>
            <button [disabled]="postForm.invalid" (click)="createPost()" class="btn" type="submit">Publier</button>
        </form>

