@import "../../variable.scss";

.header {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 5px solid $color-primary;
    color: $color-primary;
    font-size: 1.2rem;

    &--logo {
        width: 300px;
    }
}

img {
    width: 60px;
    height: 75px;
    border-radius: 50%;
}